---
import SEO from '../components/SEO.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Componente AEO Centralizado -->
		<SEO />
		
		<!-- Fuentes (Outfit e Inter) -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">
		<meta name="robots" content="index, follow, max-image-preview:large" />
		
		<!-- Lordicon CDN -->
		<script src="https://cdn.lordicon.com/lordicon.js" is:inline></script>
	</head>
	<body class="antialiased" itemscope itemtype="http://schema.org/AboutPage">
		<main itemprop="mainContentOfPage" class="min-h-screen flex flex-col">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
